/*--------------GOOGLE FONTS---------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");
/*--------------VARIABLES CSS--------------*/
/*--------------Colors--------------*/
/*--------------Font and Typography--------------*/
/*--------------Font weight--------------*/
/*---------------- BASE -----------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 4.5rem;
  line-height: 4.5rem;
  font-weight: 400;
  color: #36536b;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #36536b;
}

h3 {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #36536b;
}

h4 {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  color: #36536b;
}

h1.small {
  font-family: "DM Serif Display", serif;
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 400;
  color: #36536b;
}

h3.small {
  font-family: "DM Serif Display", serif;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  font-weight: 400;
  color: #36536b;
}

p {
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.pricing__hr {
  width: 100%;
  height: 0.0625rem;
  background: #36536b;
  opacity: 0.25;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*---------mobile shadow----------*/
.app__mobile,
.api__mobile {
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3019607843));
}

input[type=email] {
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
}
input[type=email]:focus {
  outline: none;
}

/*---------------BUTTONS------------------*/
.primary__button--normal {
  width: 10.8125rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
  border: none;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  color: #fbfcfe;
  font-weight: 700;
  font-size: 0.9375rem;
  letter-spacing: -0.00719rem;
}
.primary__button--normal:hover {
  background-color: #da6d97;
}
.primary__button--normal:disabled {
  background-color: #ba4270;
  opacity: 0.5;
  pointer-events: none;
}

.secondary__button--normal {
  width: 8.0625rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: transparent;
  border: 1px solid #fbfcfe;
  color: #fbfcfe;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 400;
  font-weight: 700;
  letter-spacing: -0.00719rem;
}
.secondary__button--normal:hover {
  background-color: #fff;
  border-radius: 1.5rem;
  color: #1b262f;
}
.secondary__button--normal:disabled {
  background-color: transparent;
  opacity: 0.5;
  border-radius: 1.5rem;
  border: 1px solid #fbfcfe;
  pointer-events: none;
}

.secondary__submit--normal {
  width: 9.5rem;
  height: 3rem;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 700;
  letter-spacing: -0.00719rem;
  border-radius: 1.5rem;
  border: 1px solid #36536b;
  background-color: transparent;
}
.secondary__submit--normal:hover {
  background-color: #36536b;
  color: #fff;
}
.secondary__submit--normal:disabled {
  background-color: transparent;
  opacity: 0.5;
  border-radius: 1.5rem;
  border: 1px solid #36536b;
  pointer-events: none;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* For small devices */
@media screen and (max-width: 767px) {
  .header__image {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .header__circle {
    position: absolute;
    width: 48.75rem;
    height: 48.75rem;
    border-radius: 48.75rem;
    top: -34rem;
    z-index: -99;
    background-color: #d2dbe3;
  }
  .header__container {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .header__container.is-scrolling {
    background-color: #edf3f8;
    box-shadow: 0 0.2rem 0.5rem rgba(54, 83, 107, 0.1);
    z-index: 1;
    margin-top: 0;
  }
  .header__container .header__circle {
    display: none;
  }
  .header__container .circle {
    display: none;
  }
  .header__container .nav {
    position: fixed;
    top: 3rem;
    right: 3rem;
    display: inline-block;
    max-width: 3.125rem;
    max-height: 3.125rem;
    overflow: visible;
    outline: none;
  }
  .header__container .nav.is-active .nav__toggle:before, .header__container .nav.is-active .nav__toggle:after {
    box-shadow: none;
    background-color: #fff;
  }
  .header__container .nav.is-active .nav__toggle:before {
    transform: rotate(-45deg);
  }
  .header__container .nav.is-active .nav__toggle:after {
    transform: rotate(45deg);
  }
  .header__container .nav.is-active .nav__menu {
    transform: translate(0, 0);
  }
  .header__container .nav .nav__toggle {
    position: relative;
    width: 1.75rem;
    height: 1.4375rem;
    flex-shrink: 0;
    z-index: 2;
    transform: translate(1.5rem, -0.44rem);
    padding-bottom: 2rem;
  }
  .header__container .nav .nav__toggle:after {
    content: "";
    position: absolute;
    left: 2rem;
    top: 5rem;
    bottom: 0rem;
    width: 50%;
    height: 0.18rem;
    background-color: #fff;
  }
  .header__container .nav .nav__toggle:before, .header__container .nav .nav__toggle:after {
    content: "";
    position: absolute;
    top: 1.125rem;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 0.2rem;
    background: #36536b;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .header__container .nav .nav__toggle:before {
    box-shadow: 0 0.5rem 0 0 #36536b;
  }
  .header__container .nav .nav__toggle:after {
    box-shadow: 0 -0.5rem 0 0 #36536b;
  }
  .header__container .nav .nav__menu {
    position: absolute;
    top: -3rem;
    right: -3rem;
    left: auto;
    min-width: 18.75rem;
    max-width: 40vw;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding: 5rem 1.25rem 1.25rem 0.625rem;
    transition: transform 0.3s ease;
    transform: translate(calc(100% + 3.125rem), 0);
    background-color: #1b262f;
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    grid-gap: 0.3125rem 0;
    align-content: start;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.3019607843);
    text-align: center;
    overflow: hidden;
  }
  .header__container .nav .nav__menu::before {
    content: "";
    background: url("/assets/images/shared/desktop/bg-pattern-circle.svg") no-repeat -17.8rem -34.1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 48.75rem;
    height: 48.75rem;
    z-index: -1;
  }
  .header__container .nav .nav__link {
    text-align: center;
    color: #fbfcfe;
    width: 15.5625rem;
    padding: 0.8rem;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
    transform: translate(0.75rem, 3rem);
  }
  .header__container .nav .nav__link:first-child:before {
    content: "";
    position: absolute;
    left: 0.2rem;
    text-align: center;
    top: -2.05rem;
    bottom: 0rem;
    width: 100%;
    height: 0.0625rem;
    background-color: #fbfcfe;
    opacity: 0.15;
  }
  .header__container .nav .nav__menu button {
    position: absolute;
    transform: translate(1.6rem, 19.215rem);
    width: 15.75rem;
    height: 3rem;
    font-family: "Public Sans", sans-serif;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  }
  .header__container .nav__logo {
    margin-top: 2.5rem;
    margin-left: 0.64rem;
  }
  .header__container .nav__header {
    margin: 1rem 1.5rem 1.5rem 1rem;
  }
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /* Mobile Home api*/
    /*--------app----------*/
  }
  .main__container .api__container {
    text-align: center;
    z-index: 0;
  }
  .main__container .api__container .api__mobile {
    width: 34%;
    margin-bottom: 1.5rem;
    margin-top: 6.75rem;
  }
  .main__container .api__container .api__title {
    margin: 0 auto;
    width: 20.4375rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: -0.01538rem;
  }
  .main__container .api__container .api__paragraph {
    color: #6c8294;
    margin-top: 1.19rem;
  }
  .main__container .api__container .primary__button--normal {
    width: 20.4375rem;
    height: 3rem;
  }
  .main__container .api__container input[type=email] {
    width: 20.4375rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-indent: 1.69rem;
  }
  .main__container .api__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .main__container .companies__container {
    margin-top: 73px;
    background-position: top -37rem center;
    width: 100%;
    padding-bottom: 80px;
  }
  .main__container .companies__container .companies__logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2.7rem;
    align-items: center;
    justify-items: center;
    margin-top: 80px;
    margin-left: 48px;
    margin-right: 47px;
  }
  .main__container .companies__container .companies__logos > :nth-of-type(4) {
    margin-right: -0.6rem;
  }
  .main__container .companies__container .companies__logos > :nth-of-type(5) {
    margin-right: 1rem;
  }
  .main__container .companies__container .companies__logos > :nth-of-type(6) {
    margin-right: 0.4rem;
  }
  .main__container .companies__container .companies__logos svg {
    margin-bottom: 39px;
  }
  .main__container .companies__container .companies__texts {
    width: 327px;
  }
  .main__container .companies__container .companies__texts h2 {
    color: #FBFCFE;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: -0.01538rem;
    margin-top: 18.73px;
    margin-bottom: 16px;
  }
  .main__container .companies__container .companies__texts p {
    margin-bottom: 60px;
    font-size: 14.9px;
  }
  .main__container .implement__container {
    display: flex;
    flex-direction: column;
  }
  .main__container .implement__container .implement__image {
    width: 20.5rem;
    height: 13.0625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    filter: drop-shadow(25px 25px 40px rgba(54, 83, 107, 0.3019607843));
  }
  .main__container .implement__container .implement__text {
    text-align: center;
    font-style: normal;
    width: 20.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 2.656rem;
    font-weight: 400;
  }
  .main__container .implement__container .implement__h2__text {
    color: #36536b;
    font-family: "DM Serif Display", serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.01731rem;
    margin-bottom: 1.5rem;
  }
  .main__container .implement__container .implement__p__text {
    color: #6c8294;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: 1.75rem;
  }
  .main__container .app__container {
    text-align: center;
    margin: 0 auto;
  }
  .main__container .app__container .app__mobile {
    width: 40.9%;
    margin-left: 0.7rem;
    margin-right: 0.48rem;
    margin-bottom: 2.7rem;
  }
  .main__container .app__container .app__title {
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.01731rem;
    margin-bottom: 1.6rem;
  }
  .main__container .app__container .app__paragraph {
    width: 20.5rem;
    color: #6c8294;
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  .main__container .finances__container {
    width: 328px;
    margin-bottom: 32px;
  }
  .main__container .finances__container > .finances__box:nth-of-type(1) {
    margin-top: -0.2rem;
  }
  .main__container .finances__container > .finances__box:nth-of-type(1) h3 {
    margin-top: -0.2rem;
  }
  .main__container .finances__container > .finances__box:nth-of-type(2) h3 {
    margin-top: -0.2rem;
  }
  .main__container .finances__container svg {
    margin-bottom: 2.06rem;
  }
  .main__container .finances__container .finances__box__text p {
    margin-bottom: 2.8rem;
    letter-spacing: -0.138px;
  }
  .main__container .culture__container {
    text-align: center;
  }
  .main__container .help__container {
    text-align: center;
  }
  .footer__container {
    background-position: top 11.06rem center;
    height: 353px;
    text-align: center;
    margin-top: 5rem;
    gap: 1.94rem;
  }
  .footer__container .api__logo {
    margin-top: 2.56rem;
    margin-bottom: 5px;
  }
  .footer__container .footer__nav {
    display: flex;
    flex-direction: column;
  }
  .footer__container .footer__nav a {
    color: #fbfcfe;
    margin-top: 1.94rem;
    opacity: 0.7;
  }
  .footer__container .api__media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
  }
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .header__container .nav__header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
    margin-top: 2.7rem;
  }
  .header__container .nav__header .nav__toggle {
    display: none;
  }
  .header__container .nav__header .nav__logo {
    margin-right: 1rem;
  }
  .header__container .nav__header .nav__menu {
    display: flex;
    gap: 2.5rem;
  }
  .header__container .nav__header .nav__menu > :first-child {
    margin-left: -0.6rem;
  }
  .header__container .nav__header .nav__menu > :last-child {
    margin-left: 3.1rem;
  }
  .header__container .nav__header .nav__link {
    display: grid;
    align-self: center;
  }
  .main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .main__container .companies__container {
    margin-top: 79.6px;
    background-position: bottom 383px center;
    width: 100%;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 88px;
  }
  .main__container .companies__container .companies__logos {
    padding-top: 88px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
  }
  .main__container .companies__container .companies__logos svg {
    transform: scale(1.21);
  }
  .main__container .companies__container .companies__logos svg:nth-child(1) {
    margin-top: 0.2rem;
    margin-left: -4.6rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(2) {
    margin-top: 0.2rem;
    margin-left: -0.4rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(3) {
    margin-top: 0.2rem;
    margin-right: -3.8rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(4) {
    margin-left: -4rem;
    margin-top: -0.2rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(5) {
    margin-left: -0.9rem;
    margin-top: -0.1rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(6) {
    margin-top: -0.2rem;
    margin-right: -4rem;
  }
  .main__container .companies__container .companies__texts {
    margin-top: 23px;
  }
  .main__container .companies__container .companies__texts h2 {
    color: #FBFCFE;
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 67px;
    margin-bottom: 24px;
    font-size: 3rem;
    line-height: 3.5rem;
    /* 116.667% */
    letter-spacing: -0.369px;
  }
  .main__container .companies__container .companies__texts p {
    margin-bottom: 32px;
    opacity: 0.7;
    font-size: 15.1px;
  }
  .main__container .finances__container {
    margin-top: 1rem;
    margin-right: 2.5rem;
    margin-left: 2.64rem;
    gap: 0.62rem;
    display: flex;
    flex-direction: row;
  }
  .main__container .finances__container svg {
    margin-bottom: 2rem;
  }
  .main__container .finances__container .finances__box__text {
    margin-top: -0.4rem;
  }
  /* Mobile Home api*/
  .api__container {
    text-align: center;
  }
  .api__container .api__mobile {
    width: 27.5%;
    margin-bottom: 2.93rem;
    margin-top: 3.1rem;
  }
  .api__container .api__title {
    margin: 0 auto;
    width: 35.8rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
  }
  .api__container .api__paragraph {
    color: #6c8294;
    transform: translateY(-0.84rem);
  }
  .api__container .api__inside {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 0.2rem;
  }
  .api__container .primary__button--normal {
    position: absolute;
    width: 10.81rem;
    height: 3rem;
    transform: translateX(8.5rem);
    top: 2.1rem;
  }
  .api__container input[type=email] {
    width: 27.8125rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 2.12rem;
    margin-bottom: 1rem;
    text-indent: 1.69rem;
  }
  .api__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .implement__container .implement__image {
    width: 24.48281rem;
    height: 15.625rem;
    margin: 6.25rem 11.77rem 3rem 11.75rem;
    filter: drop-shadow(25px 25px 40px rgba(54, 83, 107, 0.302));
  }
  .implement__container .implement__text {
    text-align: center;
    width: 35.8125rem;
    margin: -0.18rem 6.12rem 6.27rem 6.06rem;
  }
  .implement__container .implement__h2__text {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
  }
  .implement__container .implement__p__text {
    color: #6c8294;
    font-size: 0.9375rem;
    margin-bottom: 1.5rem;
    line-height: 1.75rem;
  }
  /*--------app----------*/
  .app__container {
    text-align: center;
    margin: 0rem auto 5.5rem auto;
  }
  .app__container .app__mobile {
    width: 25.8%;
    margin-left: 0.8rem;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
  }
  .app__container .app__title {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
    margin-top: 2rem;
  }
  .app__container .app__paragraph {
    width: 35.81rem;
    color: #6c8294;
    margin: 0 auto;
    margin-top: 1.6rem;
  }
  .footer__container {
    width: 100%;
    margin-left: 0px;
    background-position: left 21.19rem top -9.46rem;
    height: 6.25rem;
    display: flex;
    flex-direction: row;
    gap: 31.7px;
  }
  .footer__container .api__logo {
    margin-left: 39px;
    margin-top: 1.94rem;
  }
  .footer__container .footer__nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.63rem;
    gap: 42.5px;
    margin-left: 33px;
  }
  .footer__container .footer__nav a {
    color: #fbfcfe;
    margin-top: 1rem;
    opacity: 0.7;
  }
  .footer__container .api__media {
    margin-top: 2.43rem;
    margin-left: 6rem;
  }
  /* For large devices */
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  body {
    width: 100%;
    /*background: url("/assets/images/shared/desktop/bg-pattern-circle.svg") no-repeat 50rem -11rem;*/
  }
  .header__container .nav__header {
    margin-right: 0.3rem !important;
  }
  .header__container .nav__menu {
    margin-right: -0.7rem;
  }
  .header__container .nav__menu > :last-child {
    margin-left: 29.3rem !important;
  }
  .main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    /* Mobile Home api*/
    /*--------app----------*/
  }
  .main__container .api__container .api__paragraph {
    margin-left: 2rem;
  }
  .main__container .companies__container {
    margin-top: 75.57px;
    width: 100%;
    padding: 0;
    background-position: bottom 51px right 895px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
  }
  .main__container .companies__container .companies__logos {
    display: grid;
    justify-items: start;
    margin-right: 10.5rem;
    width: calc(32% - 10px);
    gap: 2.6rem;
    padding: 0;
  }
  .main__container .companies__container .companies__logos:nth-child(even) {
    margin-left: 131px;
  }
  .main__container .companies__container .companies__logos svg:nth-child(2) {
    margin-right: 2.7rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(3) {
    margin-right: 0.5rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(5) {
    margin-left: 1rem;
  }
  .main__container .companies__container .companies__logos svg:nth-child(6) {
    margin-left: 0.1rem;
  }
  .main__container .companies__container .companies__texts {
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    margin-left: 9.71rem;
  }
  .main__container .companies__container .companies__texts h2 {
    margin-right: 2.1rem;
    margin-top: 0;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.02306rem;
  }
  .main__container .companies__container .companies__texts p {
    text-align: left;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    /* 186.667% */
    opacity: 0.7;
    width: 445px;
  }
  .main__container .companies__container .companies__texts .secondary__button--normal {
    margin-right: 18.7rem;
  }
  .main__container .finances__container {
    width: 100%;
    margin-top: -0.6rem;
    padding-right: 10.31rem;
    padding-left: 10.31rem;
    gap: 1.88rem;
    display: flex;
    flex-direction: row;
  }
  .main__container .api__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 18.3rem;
    margin-top: 1.59rem;
    margin-bottom: -3.5rem;
  }
  .main__container .api__container .api__mobile {
    width: 23.5%;
    transform: translate(-5.7rem, -0.5rem);
  }
  .main__container .api__container .api__title {
    font-family: "DM Serif Display", serif;
    width: 34.125rem;
    text-align: start;
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 4.5rem;
    letter-spacing: -0.03463rem;
    margin-bottom: 1.4rem;
  }
  .main__container .api__container .api__paragraph {
    color: #6c8294;
    transform: translate(-0.5rem, -0.4rem);
  }
  .main__container .api__container .api__inside {
    display: flex;
    justify-self: start;
    align-items: center;
    position: relative;
  }
  .main__container .api__container .api__flex {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .main__container .api__container .primary__button--normal {
    position: absolute;
    width: 10.81rem;
    height: 3rem;
    transform: translateX(134px);
    top: 24px;
  }
  .main__container .api__container input[type=email] {
    width: 27.8125rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-indent: 2rem;
    margin-right: 0.2rem;
  }
  .main__container .api__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .main__container .implement__container {
    display: flex;
    margin-bottom: 7.62rem;
  }
  .main__container .implement__container .implement__image {
    width: 27.8125rem;
    height: 17.75rem;
    margin: 9.37rem 0rem 0rem -0.29rem;
    filter: drop-shadow(25px 25px 40px rgba(54, 83, 107, 0.302));
  }
  .main__container .implement__container .implement__text {
    text-align: left;
    width: 27.8125rem;
    height: 10.25rem;
    margin-top: 13.12rem;
    margin-left: 7.73rem;
  }
  .main__container .implement__container .implement__h2__text {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
  }
  .main__container .implement__container .implement__p__text {
    color: #6c8294;
    font-size: 0.9375rem;
    line-height: 1.75rem;
  }
  .main__container .app__container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 5.2rem;
    margin-bottom: 8.3rem;
    position: relative;
  }
  .main__container .app__container .app__circle {
    position: absolute;
    width: 49rem;
    height: 49rem;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 100%);
    background-color: #d2dbe3;
    right: 0;
    z-index: -1;
    transform: translate(0.2rem, -1.5rem);
  }
  .main__container .app__container .app__mobile-flex {
    display: flex;
    justify-content: flex-end;
  }
  .main__container .app__container .app__mobile {
    transform: translate(2rem, -1rem);
    width: 40.4%;
  }
  .main__container .app__container .phone__left {
    transform: translate(1.4rem, -1rem);
  }
  .main__container .app__container .app__start {
    text-align: start;
    width: 27%;
    margin-bottom: 4.2rem;
    margin-left: 0.3rem;
  }
  .main__container .app__container .app__title {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
    margin-top: 2rem;
  }
  .main__container .app__container .app__paragraph {
    width: 27rem;
    color: #6c8294;
    margin: 0;
    margin-top: 1.6rem;
  }
  .footer__container {
    width: 100%;
    background-position: left 65.62rem top -9.46rem;
    display: flex;
    flex-direction: row;
    margin: 0rem;
  }
  .footer__container .api__logo {
    margin-left: 10.25rem;
    margin-top: 1.94rem;
  }
  .footer__container .footer__nav {
    display: flex;
    flex-direction: row;
    margin-top: 1.63rem;
  }
  .footer__container .footer__nav a {
    color: #fbfcfe;
  }
  .footer__container .api__media {
    margin-top: 2.38rem;
    margin-left: 32.5rem;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  background-color: #edf3f8;
  min-width: 375px;
}

.finances__container {
  text-align: center;
}
.finances__container .finances__box .finances__box__text h3 {
  font-weight: 700;
  font-size: 1.125rem;
  color: #36536b;
  font-style: normal;
  line-height: 1.5625rem; /* 138.889% */
  letter-spacing: -0.00863rem;
  margin-bottom: 1rem;
}
.finances__container .finances__box .finances__box__text p {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5625rem; /* 166.667% */
  letter-spacing: -0.00719rem;
  color: #6c8294;
}

.responsive-svg {
  width: 106px;
  height: 106px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .responsive-svg {
    width: 88px;
    height: 88px;
  }
}
@media (max-width: 375px) {
  .responsive-svg {
    width: 106px;
    height: 106px;
  }
}

a,
button,
input[type=email],
input[type=text],
textarea,
div.nav__toggle,
.nav__toggle,
.nav__toggle::before,
.nav__toggle::after {
  cursor: url("/assets/images/shared/desktop/pointer.svg"), pointer;
}

span.checkbox-custom {
  cursor: url("/assets/images/shared/desktop/pointer.svg"), pointer !important;
}

.companies__container {
  background-color: #1b262f;
  text-align: center;
  background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
}
.companies__container .companies__logos svg path {
  fill: #fbfcfe;
}
.companies__container .companies__texts {
  margin: 0 auto;
  color: #fbfcfe;
}
.companies__container .companies__texts h3 {
  color: #fbfcfe;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.246px;
}
.companies__container .companies__texts p {
  color: #fbfcfe;
  opacity: 0.7;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}

.nav__link {
  text-decoration: none;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: normal;
  opacity: 0.7;
}
.nav__link:hover {
  opacity: 1;
}

.footer__container {
  text-align: center;
  color: #fbfcfe;
  background-color: #1b262f;
  background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
  background-repeat: no-repeat;
  font-size: 0.9375rem;
}
.footer__container svg:hover path {
  fill: #da6d97;
}
.footer__container svg:nth-child(1) {
  margin-left: 12px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .footer__container svg:nth-child(1) {
    margin-left: 12px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container svg:nth-child(1) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footer__nav a {
  color: #fbfcfe;
  font-size: 0.9375rem;
}
.footer__nav a:hover {
  opacity: 1;
}

@media screen and (min-width: 375px) {
  .subcontainer__contacts {
    margin-bottom: -25px;
  }
}
@media screen and (min-width: 1440px) {
  .subcontainer__contacts {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .registration__container {
    padding-left: 137px;
    margin-top: -2.5px;
  }
}
@media screen and (min-width: 1440px) {
  .registration__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 0px;
    margin-left: 76px;
  }
}

#contacts__companies__logos {
  margin-top: 31px;
}
@media screen and (min-width: 768px) {
  #contacts__companies__logos {
    margin-top: 40px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1440px) {
  #contacts__companies__logos {
    margin-top: 0px;
    padding-top: 0px;
  }
}

.h4__contacts {
  text-align: center;
  width: 300px;
  margin-top: 80px;
}
@media screen and (min-width: 767px) {
  #demo__contacts {
    margin-top: 124px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  #demo__form__contacts {
    margin-bottom: 84px;
  }
}

#input__contacts {
  background-color: #fbfcfe;
}
@media screen and (min-width: 1439px) {
  #input__contacts {
    margin-top: 155px;
  }
}

@media screen and (min-width: 1439px) {
  #input__contacts__button {
    margin-top: 130.5px;
    margin-left: 60px;
  }
}

#contacts__color__light {
  background-color: #edf3f8;
  background-image: none;
  padding-bottom: 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}
#contacts__color__light .h4__contacts {
  opacity: 0.75;
}
@media screen and (min-width: 767px) {
  #contacts__color__light {
    padding-bottom: 0px;
  }
  #contacts__color__light .h4__contacts {
    margin-top: 0px;
    margin-top: 64px;
    letter-spacing: -0.185px;
    width: 445px;
  }
}
@media screen and (min-width: 767px) and (min-width: 1440px) {
  #contacts__color__light {
    align-content: flex-start;
    margin-left: 83px;
    margin-top: -120px;
    z-index: -2;
    gap: 40px;
  }
}
@media screen and (min-width: 767px) and (min-width: 1440px) {
  #contacts__color__light .h4__contacts {
    text-align: left;
  }
}

#svg__color__changer {
  transform: scale(1);
}
#svg__color__changer path {
  fill: #36536b;
}
@media screen and (min-width: 767px) {
  #svg__color__changer {
    transform: scale(1.23);
  }
}

.subcontainer__contacts form {
  display: flex;
  flex-direction: column;
  padding-left: 24.5px;
}
.subcontainer__contacts form button {
  margin-top: 16px;
}
@media screen and (min-width: 1440px) {
  .subcontainer__contacts form button {
    margin-left: 68px;
  }
}
.subcontainer__contacts input,
.subcontainer__contacts textarea {
  outline: none;
  border: none;
  border-bottom: 1px solid #36536b;
  width: 327px;
  padding-top: 13px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #edf3f8;
  margin-bottom: 17px;
  opacity: 0.5;
}
.subcontainer__contacts input::placeholder,
.subcontainer__contacts textarea::placeholder {
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: -0.115px;
}
.subcontainer__contacts input:hover::placeholder, .subcontainer__contacts input:active::placeholder,
.subcontainer__contacts textarea:hover::placeholder,
.subcontainer__contacts textarea:active::placeholder {
  opacity: 1;
}
@media screen and (min-width: 767px) {
  .subcontainer__contacts input,
  .subcontainer__contacts textarea {
    width: 445px;
  }
}
@media screen and (min-width: 1440px) {
  .subcontainer__contacts input,
  .subcontainer__contacts textarea {
    margin-left: 65px;
    padding-top: 6px;
  }
}
.subcontainer__contacts textarea {
  height: 96px;
  resize: none;
  padding-top: 7px;
  margin-bottom: 24px;
}
.subcontainer__contacts .form__checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 1440px) {
  .subcontainer__contacts .form__checkbox {
    padding-left: 65px;
  }
}
.subcontainer__contacts .form__checkbox input[type=checkbox] {
  display: none;
}
.subcontainer__contacts .form__checkbox label {
  position: relative;
  padding-left: 35px;
  color: #36536b;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.115px;
}
.subcontainer__contacts .form__checkbox .checkbox-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #36536b;
  border: 1px solid #36536b;
  /* padding-bottom: 1px; */
  margin-top: 13px;
  opacity: 0.25;
  cursor: url(/assets/images/shared/desktop/pointer.svg), pointer;
}
.subcontainer__contacts .form__checkbox .checkbox-custom::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="13" viewBox="0 0 15 13" fill="none"><path d="M2 6.97348L5.17296 10.1464L13.3194 2" stroke="white" stroke-width="3"/></svg>');
  background-repeat: no-repeat;
  background-position: 5px 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.subcontainer__contacts .form__checkbox .contact__checkbox__text {
  position: relative;
  left: 16px;
}
@media screen and (min-width: 767px) {
  .subcontainer__contacts .form__checkbox .contact__checkbox__text {
    width: 395px;
    display: block;
    margin-bottom: -3px;
  }
}

.help__container {
  color: #36536b;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 112.5% */
  letter-spacing: -0.246px;
  z-index: -1;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 125px;
  margin-bottom: 40px;
}
@media screen and (min-width: 767px) {
  .help__container {
    font-size: 3rem;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.7px;
    margin-left: 90px;
    margin-right: 98px;
    margin-top: 74px;
    margin-bottom: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .help__container {
    font-size: 3.5rem;
    text-align: left;
    letter-spacing: -0.431px;
    padding-left: 23px;
    margin-top: 80px;
    margin-left: 141px;
    margin-right: 610px;
  }
}

@media screen and (min-width: 767px) {
  #contacts__companies__logos {
    padding-top: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px;
  }
  #contacts__companies__logos svg {
    transform: scale(1.21);
    margin-bottom: -11px;
  }
  #contacts__companies__logos svg:nth-child(1) {
    transform: scale(1.22);
    margin-top: 5px;
    margin-left: -56px;
  }
}
@media screen and (min-width: 1440px) {
  #contacts__companies__logos {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px;
  }
  #contacts__companies__logos svg {
    transform: scale(1.45);
    margin-bottom: -11px;
    padding-left: 24px;
  }
  #contacts__companies__logos svg:nth-child(1) {
    transform: scale(1.58);
    margin-top: 4px;
    margin-left: -129px;
  }
  #contacts__companies__logos svg:nth-child(2) {
    transform: scale(1.57);
    margin-top: 2px;
    margin-left: -5px;
  }
  #contacts__companies__logos svg:nth-child(3) {
    transform: scale(1.56);
    margin-top: 5px;
    margin-right: 0px;
    position: relative;
    left: -15px;
  }
  #contacts__companies__logos svg:nth-child(4) {
    transform: scale(1.6);
    position: relative;
    left: -33px;
  }
  #contacts__companies__logos svg:nth-child(5) {
    transform: scale(1.7);
    margin-top: 0px;
    margin-right: 62px;
  }
  #contacts__companies__logos svg:nth-child(6) {
    transform: scale(1.54);
    position: relative;
    left: -45px;
    top: 2px;
  }
}

@media screen and (min-width: 375) {
  #demo__contacts {
    margin-top: 100px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  #demo__contacts {
    margin-top: 111px;
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 1440px) {
  #demo__contacts {
    margin-top: 31px;
    margin-left: 9px;
    margin-right: 0px;
    position: relative;
    left: -4px;
    top: -5px;
    justify-content: space-around;
    gap: 437px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  #input__contacts {
    margin-bottom: -17px;
  }
}
@media screen and (min-width: 1440px) {
  #input__contacts {
    margin-top: 65px;
    margin-left: -98px;
  }
}

@media screen and (min-width: 1440px) {
  #input__contacts__button {
    margin-top: 41px;
    margin-right: 153px;
  }
}

.errorMsg {
  color: #f00;
  font-family: "Public Sans", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.085px;
  opacity: 0.5;
  padding-left: 82px;
  margin-top: -13px;
}

.notEmpty {
  opacity: 0.9 !important;
}

.isEmpty {
  border-bottom: 1px solid red;
  padding-top: 4px;
}

.statictics__title {
  text-align: start;
  opacity: 0.7;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: #36536b;
}

.statistics__number {
  color: #ba4270;
}

.vision__subtitle,
.culture__subtitle {
  color: #6c8294;
}

.statistics__border {
  width: 21.85rem;
  height: 0.0625rem;
  background: #36536b;
  opacity: 0.25;
}

/* For small devices */
@media screen and (max-width: 767px) {
  .vision__container {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  .vision__title,
  .culture__title {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.01156rem;
    margin-bottom: 0.9rem;
  }
  .vision__subtitle,
  .culture__subtitle {
    width: 20.4375rem;
    margin-bottom: 3.1rem;
  }
  .picture__container {
    margin-bottom: 3.1rem;
  }
  .statistics__container {
    text-align: center;
    margin-bottom: 1rem;
  }
  .statistics__container .statictics__title {
    text-align: center;
  }
  .statistics__container .statistics__number {
    font-size: 3.5rem;
    letter-spacing: -0.02694rem;
    margin-top: 2rem;
    transform: translateY(-2rem);
  }
  .statistics__container .statictics__line,
  .statistics__container .statictics__bottom {
    width: 20.45rem;
    height: 0.0625rem;
    background: #36536b;
    opacity: 0.25;
    margin-bottom: 1rem;
  }
  .statistics__container .statictics__bottom {
    transform: translateY(-1.1rem);
  }
  .statistics__container .statistics__border {
    display: none;
  }
  .vision__content--flex {
    margin-bottom: -0.1rem;
  }
  .culture__container {
    margin-bottom: -0.4rem;
  }
}
/* For medium devices */
@media screen and (min-width: 768px) {
  .vision__content,
  .culture__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    margin-bottom: 5.7rem;
  }
  .vision__title,
  .culture__title {
    margin-left: 2.4rem;
  }
  .vision__content--flex,
  .culture__content--flex {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.6rem;
  }
  .vision__subtitle {
    width: 91.1%;
  }
  .culture__container {
    margin-bottom: -7.6rem;
    margin-top: 4rem;
  }
  .culture__subtitle {
    width: 92.2%;
  }
  .picture__container {
    margin-bottom: 4.9rem;
  }
  .statictics__line,
  .statictics__bottom {
    display: none;
  }
  .statistics__number {
    font-size: 3.5rem;
    letter-spacing: -0.02694rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .statistics__border {
    width: 13.9375rem;
    height: 0.0625rem;
  }
  .statictics__top {
    margin-top: 0.4rem;
    margin-bottom: 2.2rem;
  }
  .statictics__title {
    margin-top: -2.2rem;
  }
  .statistics__info {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    margin-top: -1.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1440px) {
  .vision__content,
  .culture__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 3.3rem;
    margin-bottom: 6.1rem;
    margin-right: 3.6rem;
  }
  .vision__title,
  .culture__title {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.01538rem;
    margin-left: 3.6rem;
  }
  .culture__people {
    margin-top: 0.2rem;
  }
  .vision__content--flex,
  .culture__content--flex {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.6rem;
  }
  .vision__subtitle,
  .culture__subtitle {
    width: 39.6875rem;
  }
  .culture__subtitle {
    width: 39.6875rem;
  }
  .vision__subtitle {
    transform: translateY(-0.2rem);
  }
  .statictics__title {
    display: block;
  }
  .app__circle {
    position: absolute;
    width: 49rem;
    height: 49rem;
    shape-outside: circle(50% at 30%);
    clip-path: circle(50% at 0%);
    background-color: #d2dbe3;
    z-index: -1;
    top: 0;
    transform: translate(-8.3rem, -8.9rem);
  }
  .picture__container {
    position: relative;
  }
  .statistics__border {
    width: 21.875rem;
    height: 0.0625rem;
  }
  .statistics__info {
    margin-top: -1rem;
    gap: 1.9rem;
  }
  .statictics__title {
    transform: translateY(1rem);
  }
  .statistics__container {
    margin-bottom: 0.6rem;
  }
  .culture__container {
    margin-bottom: -5.8rem;
  }
}
/*-------------PICTURE-------------------*/
/* For small devices */
@media screen and (max-width: 767px) {
  .picture__container {
    width: 100%;
  }
  .picture__team {
    width: 100%;
    transform: translateY(0.3rem);
  }
  .picture__team2,
  .picture__team3 {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .picture__container {
    width: 100%;
  }
  .picture__team2 {
    width: 100%;
  }
  .picture__team,
  .picture__team3 {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .picture__container {
    width: 100%;
  }
  .picture__team3 {
    width: 100%;
  }
  .picture__team2,
  .picture__team {
    display: none;
  }
}
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.pricing__container {
  margin-top: 3.9rem;
}
.pricing__container .pricing__container__title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1.7rem;
  font-size: 2rem;
}
.pricing__container .pricing__text__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container .pricing__text__price > :nth-child(2) {
  height: 80%;
  width: 60%;
  color: #36536b;
  text-align: center;
  font-family: "Public Sans", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.75rem;
  margin-bottom: 0.1rem;
}
.pricing__container .pricing__plan__title {
  color: #ba4270;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: -0.01156rem;
  margin-bottom: 1rem;
}
.pricing__container .pricing__plans__container {
  display: grid;
  text-align: center;
}
.pricing__container .pricing__value {
  color: #36536b;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: -0.02694rem;
  margin-top: -1.1rem;
  margin-bottom: 1.8rem;
}
.pricing__container .pricing__benefits {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container .pricing__benefits > hr {
  width: 88%;
  z-index: -1;
  margin-top: -0.5rem;
}
.pricing__container .pricing__benefits li:before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.5rem;
  background: url("/assets/images/shared/desktop/icon-check.svg") no-repeat center center/contain;
  margin-right: 1.5rem;
  stroke-width: 2px;
}
.pricing__container .pricing__benefits li.benefits__active:before {
  fill: #ba4270;
}
.pricing__container .pricing__benefits li:not(.benefits__active):before {
  opacity: 0.01;
}
.pricing__container .pricing__benefits li.benefits__active {
  color: #36536b;
  font-family: Public Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}
.pricing__container .pricing__benefits li:not(.benefits__active) {
  color: #36536b;
  font-family: Public Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  opacity: 0.5;
}
.pricing__container .pricing__benefits ul > li {
  margin-bottom: 0.5rem;
}
.pricing__container .pricing__benefits ul > li:first-child {
  margin-top: 0.4rem;
}
.pricing__container .pricing__benefits ul > li:last-child {
  margin-bottom: 1.9rem;
}
.pricing__container .secondary__submit--normal {
  margin-top: 0.6rem;
  margin-bottom: 3rem;
  width: 45%;
}

.demo__container {
  margin-top: 2.45rem !important;
}

@media screen and (max-width: 767px) {
  .pricing__text__price > :nth-child(2) {
    width: 70%;
    font-weight: 100;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .pricing__container {
    margin-bottom: -5.6rem;
  }
  .pricing__container .pricing__plans__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .pricing__container .pricing__container__title {
    margin-top: 0.1rem;
    margin-bottom: 4rem;
    font-size: 3rem;
  }
  .pricing__container .pricing__text__price > :nth-child(2) {
    width: 88%;
    height: 80%;
    font-weight: 100;
  }
  .pricing__container .pricing__plan__title {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
  }
  .pricing__container .pricing__benefits > ul {
    margin-top: 0.1rem;
  }
  .pricing__container .secondary__submit--normal {
    margin-top: 0.4rem;
  }
  .pricing__container .pricing__free .pricing__plan__title {
    margin-left: 2.2rem;
  }
  .pricing__container .pricing__free .pricing__value {
    margin-left: 2.8rem;
  }
  .pricing__container .pricing__free .pricing__text__price > :nth-child(1) {
    margin-left: 2.9rem;
  }
  .pricing__container .pricing__free .pricing__text__price > :nth-child(2) {
    margin-left: 2.2rem;
  }
  .pricing__container .pricing__free .pricing__benefits > ul {
    margin-top: 0.1rem;
    margin-left: 2.6rem;
  }
  .pricing__container .pricing__free .pricing__benefits > hr {
    margin-left: 1rem;
  }
  .pricing__container .pricing__free .secondary__submit--normal {
    margin-top: 0.5rem;
    margin-left: 2.9rem;
    width: 65%;
  }
  .pricing__container .pricing__basic .pricing__benefits > ul {
    margin-left: -0.5rem;
  }
  .pricing__container .pricing__basic .secondary__submit--normal {
    width: 65%;
    margin-top: 0.5rem;
    margin-left: -0.2rem;
  }
  .pricing__container .pricing__premium .pricing__plan__title {
    margin-left: -2.9rem;
  }
  .pricing__container .pricing__premium .pricing__text__price > :nth-child(2) {
    margin-right: 2.9rem;
  }
  .pricing__container .pricing__premium .pricing__value {
    margin-right: 2.9rem;
  }
  .pricing__container .pricing__premium .pricing__benefits > ul {
    margin-right: 3rem;
  }
  .pricing__container .pricing__premium .pricing__benefits > hr {
    margin-right: 1rem;
  }
  .pricing__container .pricing__premium .secondary__submit--normal {
    margin-top: 0.4rem;
    margin-right: 2.9rem;
    width: 65%;
  }
  .pricing__container .pricing__value {
    font-size: 3rem;
    margin-top: 1.1rem;
  }
  .pricing__container .pricing__benefits > hr {
    width: 85%;
  }
}
@media screen and (min-width: 1440px) {
  .pricing__container {
    margin-bottom: -6.5rem;
  }
  .pricing__container .pricing__container__title {
    text-align: left;
    font-size: 3.5rem;
    margin-left: 10rem;
    margin-top: 0.6rem;
  }
  .pricing__container .pricing__plan__title {
    font-size: 2rem;
  }
  .pricing__container .pricing__text__price {
    align-items: flex-start;
    margin-left: 7.5rem;
  }
  .pricing__container .pricing__text__price > :nth-child(2) {
    text-align: left;
    width: 100%;
    font-weight: 100;
  }
  .pricing__container .pricing__value {
    text-align: left;
    width: 80%;
    font-size: 3.5rem;
  }
  .pricing__container .pricing__benefits > ul {
    width: 80%;
    align-items: flex-start;
  }
  .pricing__container .pricing__benefits .pricing__hr {
    width: 70%;
  }
  .pricing__container .secondary__submit--normal {
    width: 35% !important;
  }
  .pricing__container .pricing__free .pricing__plan__title {
    margin-top: 0.1rem;
    margin-left: 2.9rem;
  }
  .pricing__container .pricing__free .pricing__text__price > :nth-child(2) {
    margin-left: 2.8rem;
    margin-top: 0.3rem;
  }
  .pricing__container .pricing__free .pricing__text__price > :nth-child(3) {
    margin-top: 0.5rem;
    margin-left: 2.7rem;
  }
  .pricing__container .pricing__free .pricing__benefits > ul {
    margin-left: 14.5rem;
    margin-bottom: 0.1rem;
  }
  .pricing__container .pricing__free .pricing__benefits > hr {
    margin-top: -0.45rem;
    margin-left: 12rem;
  }
  .pricing__container .pricing__free .secondary__submit--normal {
    margin-top: 0.4rem;
    margin-left: 1rem;
  }
  .pricing__container .pricing__basic .pricing__plan__title {
    margin-left: -3.6rem;
  }
  .pricing__container .pricing__basic .pricing__text__price > :nth-child(2) {
    margin-left: -3.6rem;
    margin-top: 0.3rem;
  }
  .pricing__container .pricing__basic .pricing__text__price > :nth-child(3) {
    margin-left: -3.6rem;
    margin-top: 0.5rem;
  }
  .pricing__container .pricing__basic .pricing__benefits > ul {
    margin-left: 1.7rem;
    margin-top: 0.15rem;
  }
  .pricing__container .pricing__basic .secondary__submit--normal {
    margin-left: -11.6rem;
  }
  .pricing__container .pricing__premium .pricing__plan__title {
    margin-left: -9.9rem;
  }
  .pricing__container .pricing__premium .pricing__text__price > :nth-child(2) {
    margin-top: 0.3rem;
    margin-left: -9.8rem;
  }
  .pricing__container .pricing__premium .pricing__text__price > :nth-child(3) {
    margin-top: 0.5rem;
    margin-left: -9.8rem;
  }
  .pricing__container .pricing__premium .pricing__benefits > hr {
    margin-top: -0.4rem;
    margin-right: 11rem;
  }
  .pricing__container .pricing__premium .pricing__benefits > ul {
    margin-left: -7.6rem;
  }
  .pricing__container .pricing__premium .secondary__submit--normal {
    margin-top: 0.4rem;
    margin-left: -21.2rem;
  }
}
.inovation__container {
  width: 730px;
  height: 189px;
  padding-top: 80px;
}

.inovation__title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.43px;
}

@media screen and (max-width: 767px) {
  .inovation__container {
    width: 327px;
    height: 152px;
    padding-top: 127px;
    padding-bottom: 191.2px;
  }
  .inovation__title {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 112.5% */
    letter-spacing: -0.246px;
  }
}
@media screen and (min-width: 768px) {
  .inovation__container {
    width: 573px;
    height: 178px;
    margin-bottom: 8.4rem;
    margin-top: -0.5rem;
  }
  .inovation__title {
    text-align: center;
    font-family: "DM Serif Display", serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.369px;
  }
}
@media screen and (min-width: 1440px) {
  .inovation__container {
    margin-right: 190px;
    width: 730px;
    height: 189px;
    margin-top: 0rem;
  }
  .inovation__title {
    text-align: left;
    font-family: "DM Serif Display", serif;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem; /* 100% */
    letter-spacing: -0.531px;
  }
}
.circle__container {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circle__container-always {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.circle__design {
  background-image: url("/assets/images/shared/desktop/bg-pattern-circle.svg");
}

.circle__display-main {
  position: relative;
  z-index: -1;
  width: 780px;
  height: 780px;
  top: -20em;
  left: 60%;
}

.circle__display-smaller {
  position: relative;
  z-index: -1;
  width: 780px;
  height: 780px;
  top: -30em;
  left: 60%;
}

@media screen and (max-width: 767px) {
  .circle__container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .demo__container {
    margin-top: 0.7rem;
  }
  .demo__container .demo__title {
    text-align: center;
    line-height: 2.25rem;
    letter-spacing: -0.01538rem;
    font-style: normal;
    margin-top: -0.5rem;
  }
  .demo__container .demo__form {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
  }
  .demo__container input[type=email] {
    width: 20.4375rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-indent: 1.69rem;
  }
  .demo__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .demo__container .primary__button--normal {
    width: 20.4375rem;
    height: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .demo__container {
    margin-left: -0.8rem;
  }
  .demo__container .demo__title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem;
    letter-spacing: -0.02306rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 7rem;
  }
  .demo__container .demo__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    margin-bottom: 5.2rem;
  }
  .demo__container input[type=email] {
    width: 27.8125rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 1.3rem;
    margin-right: -0.9rem;
    margin-bottom: 1rem;
    text-indent: 1.69rem;
  }
  .demo__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .demo__container .primary__button--normal {
    position: absolute;
    width: 10.81rem;
    height: 3rem;
    transform: translateX(9.1rem);
    top: 1.3rem;
  }
}
@media screen and (min-width: 1440px) {
  .demo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77.7%;
    margin: -1rem auto 3.5rem auto;
  }
  .demo__container .demo__title {
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.5rem;
    letter-spacing: -0.02306rem;
    margin-bottom: 2.5rem;
    margin-left: 0.2rem;
  }
  .demo__container .demo__form {
    margin-bottom: -4rem;
  }
  .demo__container input[type=email] {
    width: 27.8125rem;
    height: 3rem;
    border-radius: 1.5rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.251);
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-indent: 1.69rem;
    margin-right: 0.4rem;
  }
  .demo__container input[type=email]::placeholder {
    color: rgba(54, 83, 107, 0.5);
    font-weight: 700;
    font-family: "Public Sans", sans-serif;
    font-size: 0.9375rem;
    line-height: normal;
  }
  .demo__container .primary__button--normal {
    position: absolute;
    width: 10.81rem;
    height: 3rem;
    transform: translateX(8.375rem);
    top: 1.5rem;
  }
}
.error {
  border: none;
  animation: shake 0.1s ease-in-out 0s 2;
}
.error__msg {
  color: red;
}
.error__msgs {
  color: red;
}
.error__about {
  color: red;
}
.error__pricing {
  color: red;
}
.error__contacts {
  color: red;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.2rem;
  }
  75% {
    margin-left: -0.2rem;
  }
  100% {
    margin-left: 0rem;
  }
}
@media screen and (max-width: 767px) {
  .error {
    transform: translateY(1rem);
  }
  .error__msgs {
    text-align: center;
  }
  .error__about {
    position: absolute;
    transform: translate(5rem, 9.6rem);
  }
  .error__pricing {
    position: absolute;
    transform: translate(5rem, 9.6rem);
  }
  .error__contacts {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .error {
    transform: translateY(-0.7rem);
  }
  .error__about {
    position: absolute;
    transform: translateY(3.6rem);
  }
  .error__pricing {
    position: absolute;
    transform: translateY(3.6rem);
  }
  .error__contacts {
    position: absolute;
    transform: translateY(3.6rem);
  }
}
@media screen and (min-width: 1440px) {
  .error {
    transform: translateY(-0.3rem);
  }
  .error__msg {
    margin-left: 3.6rem;
  }
  .error__msgs {
    position: absolute;
    transform: translate(43rem, 5rem);
  }
  .error__about {
    position: absolute;
    transform: translateY(3.6rem);
  }
  .error__pricing {
    position: absolute;
    transform: translateY(3.6rem);
  }
  .error__contacts {
    position: absolute;
    transform: translateY(7.8rem);
  }
}

/*# sourceMappingURL=style.css.map */
