/*--------------GOOGLE FONTS---------------*/
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Public+Sans:wght@400;700&display=swap");

/*--------------VARIABLES CSS--------------*/

/*--------------Colors--------------*/
$dark-pink: #ba4270;
$link-water-white: #fbfcfe;
$san-juan-blue: #36536b;
$mirage-blue: #1b262f;
$charm-pink-active: #da6d97;
$charm-pink-inactive: #ba4270;
$san-juan-blue-light: #6c8294;
$white-color: #fff;
$black-color: #000;
$body-color: #edf3f8;

/*--------------Font and Typography--------------*/
$body-font: "Public Sans", sans-serif;
$body-second-font: "DM Serif Display", serif;

$h1-large-size: 4.5rem; // 72px
$h1-small-size: 3.5rem; // 56px
$h2-regular-size: 3rem; // 48px
$h3-big-size: 2rem; // 32px
$h3-small-size: 1.125rem; // 18px
$h4-regular-size: 1.5rem; // 24px
$p-regular-size: 0.9375rem; // 15px

$h1-large-line-height: 4.5rem; // 72px
$h1-small-line-height: 3.5rem; // 56px
$h2-regular-line-height: 3.5rem; // 56px
$h3-big-line-height: 2.5rem; // 40px
$h3-small-line-height: 1.5625rem; // 25px
$h4-regular-line-height: 2rem; // 32px

/*--------------Font weight--------------*/
$font-regular: 400;
$font-bold: 700;
